@model FolderViewModel


<h2>@ViewData["Title"]</h2>

<div>
    <div class="row pull-right">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCreateFolder">
            Create Folder
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalLoadFile">
            Load File
        </button>
    </div>
    <div class="row">
        @{await Html.RenderPartialAsync("_SearchBarPartial"); }
    </div>
    <hr/>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (var folder in Model.Path) {
                    <li class="breadcrumb-item"><a asp-action="Drive" asp-route-id="@folder.Id">@folder.Name</a></li>
                }
                <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
            </ol>
        </nav>
    </div>
</div>
@{await Html.RenderPartialAsync("_FolderContentPartial", Model);}
<!-- Create Folder Modal -->
<div class="modal fade" id="modalCreateFolder" tabindex="-1" role="dialog" aria-labelledby="modalCreateFolderLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Create Folder</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="createFolder" asp-action="CreateFolder" asp-route-folderId="@Model.Id">
                    <div class="form-group">
                        <label for="folderName" class="control-label">Folder Name</label>
                        <input name="folderName" type="text" required maxlength="15" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="createFolder">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Load File Modal -->
<div class="modal fade" id="modalLoadFile" tabindex="-1" role="dialog" aria-labelledby="modalLoadFileLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Load File</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="loadFile" class="col-md-4" asp-action="LoadFile" asp-route-folderId="@Model.Id" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" class="control-label">New file</label>
                        <input type="file" name="file" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="loadFile">Load</button>
            </div>
        </div>
    </div>
</div>

